{% extends 'core_ui/base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="course-description">
				<h2>{{project.title}}</h2>
				<p>{{project.description}}</p>

				<h3>Тривалість Курсy</h3>
				<p>{{ project.created_at }}</p>

				<h3>Час занять</h3>
				<p>{{ project.updated_at }}</p>

				<h3>Вартість</h3>
				<p>{{ company.name }}</p>

				<a href="#" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#signupModal">Записатися</a>


			</div>
		</div>
	</div>
</div>

{% endblock %}